.dynamicPage {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  margin-right: 240px;
}
.ingred {
  width: 450px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.recipeText {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.commented {
  display: flex;
  justify-content: space-between;
  width: 320px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: auto;
}
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 6px;
  border-radius: 2%;
  margin-left: 10px;
  color: white;
  height: 15px;
  font-size: 0.5rem;
  margin-top: auto;
}
.deleteButton:hover {
  font-size: 0.9rem;
  transition: font-size 0.2s ease;
}
/* create new recipe field**************** */

.postButton {
  padding: 8px;
  width: 100px;
  /* margin: 0.2rem 5rem; */
  /* margin-right: 17px; */
  background-color: rgb(166, 209, 230);
  border-radius: 10px;
}
.postButton:hover {
  font-size: 1rem;
  transition: font-size 0.2s ease;
}

.lable {
  display: grid;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 15px;
}
.textArea1 {
  border-radius: 5px;
  width: 400px;
}
.textArea2 {
  border-radius: 5px;
  width: 400px;
  height: 150px;
}
.nameInput {
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
