.dynamicPage {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.ingred {
  width: 450px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.recipeText {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.commented {
  display: flex;
  justify-content: space-between;
  width: 320px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: auto;
}
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 6px;
  border-radius: 2%;
  margin-left: 10px;
  color: white;
  height: 15px;
  font-size: 0.5rem;
  margin-top: auto;
}
.deleteButton:hover {
  font-size: 0.9rem;
  transition: font-size 0.2s ease;
}
/* create new recipe field**************** */

.logText {
  display: grid;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 30px;
  transform: translate(-50%, -50%);
  padding-top: 10rem !important;
}
.container {
  position: relative;
  text-align: center;
}
.loginButton {
  padding: 0.2rem;
  margin: 0.2rem 5rem;
  margin-right: 17px;
  background-color: lightblue;
  border-radius: 10px;
}
.loginButton:hover {
  font-size: 0.9rem;
  transition: font-size 0.2s ease;
}
.logText {
  display: grid;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10rem !important;
}
.lable {
  justify-content: center;
  text-align: end;
  padding: 0.3rem 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}
